body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 60px;
    font-family: 'Georgia', serif;
    color: #333;
}

p {
    font-size: 25px;
    color: #555;
}

button {
    width: 250px;
    height: 60px;
    background: linear-gradient(135deg, #1e90ff, #00bfff);
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #00bfff, #1e90ff);
}

#quoteOutput {
    font-size: 30px;
    color: #333;
    margin-top: 20px;
    font-style: italic;
}

#authorOutput {
    font-size: 20px;
    color: #888;
    margin-top: 10px;
}
.form{
    width: 50%;
    height: 70%;
}